@{
    ViewBag.Title = "Who we are";
}

<div class="text-center">
    <div id="contactDetails">
        <h2>Who We Are!</h2>
    </div>
</div>
    <div class="row">
        <div id="indexdivs" class="col-md-4">
            <div id="contactName">
                <h2>Georgios Mammos</h2>
            </div>

            <p>
                mammosgeorgios@gmail.com
            </p>

        </div>
        <div id="indexdivs" class="col-md-4">
            <div id="contactName">
                <h2>Vasileios Ntousopoulos-Tsimis</h2>
            </div>
            <p>
                vdousso@gmail.com
            </p>
        </div>

        <div id="indexdivs" class="col-md-4">
            <div id="contactName">
                <h2>Amalia Kravvari</h2>
            </div>

            <p>amaliakr7@gmail.com</p>
        </div>

    </div>
